 
<div *ngIf="this.user$ | async; let user; else userIsNotAuthenticated1">
  <pre>{{this.user$ | async | json}}</pre>
  <div>
    <p>Is Expired : {{(this.user$ | async)?.expired}}</p>
    <p class="expires">Expires in : {{(this.user$ | async)?.expires_in}}</p>
    <p class="expires at">Expires at : {{ expiresAtDate  }}</p>
  </div>
</div>
<ng-template #userIsNotAuthenticated1>
  <p>No User Data...</p>
  <p>This would mean that the user is not authenticated against the identity server.</p>
</ng-template>
<hr>
 