
<app-user-status></app-user-status>
<div>
  Environment :
  <pre>
    {{env | json}}

  </pre>
   
  
  
</div>


<div>
  <button (click)="clearState()" id='clearState'>clear stale state</button>
  <button (click)="removeUser()" id='removeUser'>remove user</button>

  <button (click)='signOut()'>Signout</button>
</div>

<router-outlet></router-outlet>
<ul>
  <li>
    <a routerLink="">Home</a>
  </li>
  <li>
    <a routerLink="/unsecured">Not Secured</a>
  </li>

  <li>
    <a routerLink="/protected">Protected</a>
  </li>

  <li>
    <a routerLink="/auth-callback">auth-callback</a>
  </li>
</ul>


