
<router-outlet></router-outlet>
<ul>
  <li>
    <a routerLink="">Home</a>
  </li>
  <li>
    <a routerLink="/unsecured">Not Secured</a>
  </li>

  <li>
    <a routerLink="/protected">Protected</a>
  </li>
</ul>


<!--
  
  this does not work on the parent component since the trigger that is updating the UserObservable happens on a child component
  so first evaluation and rendering happens on the parent and then the child componenets are evaluated and rendered in the router outled.
  Some of those will trigger updating of the observable that in turn will trigger updating this as the parent view.
  So, the issue is that this is breaking the unidirection data flow that is enforced in Angular to achieve the speed optimization
  In order to solve this, I am simply going to encapsulate this template within a component that will be referenced through a component selector in each of the child components that will be loaded in the router outlet.
  
  <hr>
<div *ngIf="this.authService.UserObservable | async; let user; else loading">
  <pre>{{this.authService.UserObservable | async | json}}</pre>
  <div>
    <p>Is Expired : {{(this.authService.UserObservable | async)?.expires_at}}</p>

    <p>Expires in : {{(this.authService.UserObservable | async)?.expires_in}}</p>


  </div>
</div>

<ng-template #loading>
  <p>No User Data...</p>
  <p>This would mean that the user is not authenticated against the identity server.</p>

</ng-template> -->