
<app-user-status></app-user-status>

<p class="welcome">
  welcome works!
</p>


<!-- <div *ngIf="_user">
    <pre>{{_user | json}}</pre>
  </div>
  <div>
    <p>Is Expired : {{_user?.expired}}</p>
    <p>Expires id : {{_user?.expires_in}}</p>
        
</div> -->
  <!-- <pre>{{this.authService.UserObservable | async | json}}</pre> -->

  <!-- <div *ngIf="this.authService.UserObservable | async; let user; else loading">
    <pre>{{this.authService.UserObservable | async | json}}</pre>
    <div>
        <p>Is Expired : {{(this.authService.UserObservable | async)?.expires_at}}</p>
      
        <p>Expires in : {{(this.authService.UserObservable | async)?.expires_in}}</p>
      
      
      </div>
  </div>
  
  <ng-template #loading>
    <p>No User Data...</p>
    <p>This would mean that the user is not authenticated against the identity server.</p>
    
  </ng-template> -->